@import "tailwindcss";

/* Optionnel : style global */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Animations personnalisées */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in-out;
}
